.certificates {
    .title {
        @include header;
    }
    .image-container {
        // Set the image background
        background-image: url('/_certificates/2.jpg'); // Replace 'your-image-url.jpg' with the URL or file path of your image

        // Set the background size and position
        background-size: cover;
        background-position: center;

        // Set the container size
        width: 100%; // Adjust to your desired width
        height: 300px; // Adjust to your desired height

        // Add any other styles or properties as needed
    }

}